@page
@using TodoApplication.Data.Enums
@model TodoApplication.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TaskTodo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskTodo.Name" class="control-label">Title</label>
                <input asp-for="TaskTodo.Name" class="form-control" />
                <span asp-validation-for="TaskTodo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTodo.Description" class="control-label">Description</label>
                <input asp-for="TaskTodo.Description" class="form-control" />
                <span asp-validation-for="TaskTodo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTodo.Status" class="control-label">Status</label>
                <select asp-for="TaskTodo.Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="TaskTodo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTodo.Priority" class="control-label">Priority</label>
                <select asp-for="TaskTodo.Priority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control"></select>
                <span asp-validation-for="TaskTodo.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTodo.EndDate" class="control-label">Deadline</label>
                <input asp-for="TaskTodo.EndDate" class="form-control" />
                <span asp-validation-for="TaskTodo.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
